node-red/flows/takt_api_v5.json
[{\n    "id": "086840c39fd2513d",\n        "type": "tab",\n        "label": "Takt Logs API (V5)",\n        "disabled": false,\n        "info": "从 PG 表 takt_logs 读取节拍数据，提供 /api/takt-logs 接口（时间为本地字符串）"\n    },\n    {\n        "id": "a741786df42508ad",\n        "type": "http in",\n        "z": "086840c39fd2513d",\n        "name": "GET /api/takt-logs",\n        "url": "/api/takt-logs",\n        "method": "get",\n        "upload": false,\n        "swaggerDoc": "",\n        "x": 150,\n        "y": 100,\n        "wires": [[\n            "5d6265384e5ecfd8"\n        ]]\n    },\n    {\n        "id": "5d6265384e5ecfd8",\n        "type": "postgresql",\n        "z": "086840c39fd2513d",\n        "name": "SELECT takt_logs (local time)",\n        "query": "SELECT\n    id,\n    station_id,\n    station_name,\n    to_char(trigger_time, 'YYYY-MM-DD HH24:MI:SS') AS trigger_time,\n    to_char(prev_time,    'YYYY-MM-DD HH24:MI:SS') AS prev_time,\n    interval_seconds\nFROM takt_logs\nORDER BY trigger_time ASC\nLIMIT 500;",\n        "postgreSQLConfig": "fd39fa3e68b1cafe",\n        "split": false,\n        "rowsPerMsg": "1",\n        "outputs": 1,\n        "x": 420,\n        "y": 100,\n        "wires": [[\n            "b9e3a8f9a1b2e291"\n        ]]\n    },\n    {\n        "id": "b9e3a8f9a1b2e291",\n        "type": "function",\n        "z": "086840c39fd2513d",\n        "name": "映射为前端 JSON 结构",\n        "func": "// msg.payload 是 PG 返回的行数组\nconst rows = msg.payload || [];\n\nconst data = rows.map((row, idx) => {\n    const interval = row.interval_seconds != null\n        ? Number(row.interval_seconds)\n        : null;\n\n    return {\n        // 主键\n        id: row.id != null ? row.id : (idx + 1),\n\n        // 工位信息\n        station_id: row.station_id,\n        station_name: row.station_name,\n\n        // 时间字段：现在已经是字符串 "YYYY-MM-DD HH:MM:SS"\n        // 前端可以直接显示，或者再做字符串切片得到 HH:MM:SS\n        current_time: row.trigger_time,\n        prev_time: row.prev_time,\n\n        // 节拍秒数\n        interval_sec: interval\n    };\n});\n\nmsg.payload = data;\n\n// 设置响应头\nmsg.headers = msg.headers || {};\nmsg.headers["Content-Type"] = "application/json; charset=utf-8";\n// 如果前端 HTML 不在同一域名/端口下，可以先放开 CORS\nmsg.headers["Access-Control-Allow-Origin"] = "*";\n\nreturn msg;",\n        "outputs": 1,\n        "noerr": 0,\n        "initialize": "",\n        "finalize": "",\n        "libs": [],\n        "x": 730,\n        "y": 100,\n        "wires": [[\n            "a6b4e7cca4cd2ae3"\n        ]]\n    },\n    {\n        "id": "a6b4e7cca4cd2ae3",\n        "type": "http response",\n        "z": "086840c39fd2513d",\n        "name": "返回 JSON",\n        "statusCode": "",\n        "headers": {},\n        "x": 1010,\n        "y": 100,\n        "wires": [[]]\n    },\n    {\n        "id": "fd39fa3e68b1cafe",\n        "type": "postgreSQLConfig",\n        "name": "",\n        "host": "127.0.0.1",\n        "hostFieldType": "str",\n        "port": 5432,\n        "portFieldType": "num",\n        "database": "postgres",\n        "databaseFieldType": "str",\n        "ssl": "false",\n        "sslFieldType": "bool",\n        "applicationName": "",\n        "applicationNameType": "str",\n        "max": 10,\n        "maxFieldType": "num",\n        "idle": 1000,\n        "idleFieldType": "num",\n        "connectionTimeout": 10000,\n        "connectionTimeoutFieldType": "num",\n        "user": "postgres",\n        "userFieldType": "str",\n        "password": "asdf6666",\n        "passwordFieldType": "str"\n    },\n    {\n        "id": "1cc0f34c67560437",\n        "type": "global-config",\n        "env": [],\n        "modules": {\n            "node-red-contrib-postgresql": "0.15.4"\n        }\n    }]\n